			<!-- About us -->
	        <div id="about" class="about-us">
	            <div class="container about-sec">
	                <header class="block-heading cleafix">
							<div class="title-page">
								<p class="main-header">About us</p>
							    <p class="sub-header">Make sure you know about us</p>
							</div>
						</header>
	                <div class="divide50"></div>
	                <div class="row">
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-user"></i>
	                            <h4 class="aboutus-title">mentor</h4>
	                            <p class="aboutus-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
	                        </div>
	                    </div>
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-toggle-right"></i>
	                            <h4 class="aboutus-title">lessons</h4>
	                            <p class="aboutus-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
	                        </div>
	                    </div>
	                    <div class="col-md-4 text-center">
	                        <div class="aboutus-item">
	                            <i class="aboutus-icon fa fa-rocket"></i>
	                            <h4 class="aboutus-title">videos</h4>
	                            <p class="aboutus-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni voluptatum et, alias vero, reprehenderit doloremque neque dignissimos voluptas.</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	        <!-- /About us -->