<div class="content-block" id="portfolio">
        <div class="container portfolio-sec">
            <header class="block-heading cleafix">
                <a href="#" class="btn btn-o btn-lg pull-right">View All</a>
                <div class="title-page">
                    <p class="main-header">Our Latest Works </p>
                    <p class="sub-header">Take a look at some of our recent products</p>
                </div>
            </header>
            <section class="block-body">
                <div class="row">
                    <% posts.forEach(function(post){ %>
                        <div class="col-sm-4">
                            <a href="#" class="recent-work" style="background-image:url('uploads/img/<%= post.imgUrl  %>')">
                                <span class="btn btn-o-white"><%= post.title %></span>
                            </a>
                        </div>
                    <% }); %>
                    
    
                </div>
            </section>
        </div>
    </div><!-- #portfolio -->