<div class="content-block parallax" id="parallax">
    <div class="container">
        <h3 class="call-action pull-left">In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis.</h3>
        <a href="#" class="pull-right btn btn-o-white btn-lg">Get a free quote</a>
    </div>
</div><!-- #parallax -->