<div class="content-block parallax" id="services">
    <div class="container services-sec">
        <div class="title-page">
            <p class="main-header">Our Services </p>
            <p class="sub-header">A little about what we do</p>
        </div>
        <section class="block-body">
            <div class="row">
                <div class="col-md-4">
                    <div class="service">
                        <div class="bar">
                            <i class="fa fa-send-o"></i>
                        </div>
                        <h2 class="service-head">Illustration</h2>
                        <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <div class="bar">
                            <i class="fa fa-heart-o"></i>
                        </div>	
                        <h2 class="service-head">3D Modeling</h2>
                        <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service">
                        <div class="bar">
                            <i class="fa fa-camera-retro"></i>
                        </div>	
                        <h2 class="service-head">Photography</h2>
                        <p>In at accumsan risus. Nam id volutpat ante. Etiam vel mi mattis, vulputate nunc nec, sodales nibh. Etiam nulla magna, gravida eget ultricies sit amet, hendrerit in lorem.</p>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div><!-- #services -->