<% include partials/header.ejs %>
<% include partials/headermenu.ejs %>

<form action="#" method="POST" style="padding-top:600px; margin: 0 auto;">
    <input type="text" name="title">
    <input type="text" name="url">
<button>save</button>
</form>

<% include partials/footer.ejs %>