<% include partials/header.ejs %>

<% include partials/headermenu.ejs %>

		<div id="wrapper">
			
			<div id="header" class="content-block">
				<!-- <section class="top clearfix">
					<div class="pull-left">
						<h1><a class="logo" href="index.html">Nevada <span class="logo-head">Plus</span></a></h1>
					</div>
					<! <div class="pull-right">
						<a class="toggleDrawer" href="#"><i class="fa fa-bars fa-2x"></i></a>
					</div> 
				</section>-->
				<section class="center">
					<div class="slogan">
						Mazenet
					</div>
					<div class="secondary-slogan">
						Find yourself
					</div>
				</section>
			</div><!-- header -->

<% include partials/aboutUs.ejs %>

<% include partials/news.ejs %>

<% include partials/services.ejs %>

<% include partials/parallax.ejs %>

<% include partials/footer.ejs %>