<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>adduser</title>
  </head>
  <body>
    <form action="/" method="post">
      <input type="text" name="email" value="">
      <input type="text" name="firstName" value="">
      <input type="text" name="lastName" value="">
      <input type="text" name="password" value="">
    </form>
  </body>
</html>
